.button {
  padding: 0;
  cursor: pointer;
  border: none;

  &--rounded {
    width: 15.125rem;
    height: 4.75rem;
    border-radius: 2.375rem;
  }

  &--circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    box-shadow: 2px 5px 0.5rem 1px rgba($color-name--mine-shaft_dark, 0.3);
  }
}
