// descriptive variables
$color_alabaster: #f7f7f7;
$color_athens_gray: #f3f5f8;
$color_big_stone: #13253b;
$color_dodger_blue_primary: #4085f6;
$color_dodger_blue_dark: #1d72fe;
$color_dove_gray: #737373;
$color_ebony_clay: #22233a;
$color_hint_of_red: #f8f6f6;
$color_mine_shaft: #3b3b3b;
$color_pomegranate: #f33131;
$color_royal_blue: #226be2;
$color_scorpion_primary: #5d5d5d;
$color_scorpion_dark: #585858;
$color_silver_chalice: #a2a2a2;
$color_white: #ffffff;
$color_wild_sand: #f4f4f4;

// functional variables
$background_primary_color: $color_white;
$background_secondary_color: $color_hint_of_red;
$background_tertiary_color: $color_dodger_blue_primary;
$content_primary_color: $color_dove_gray;
$content_secondary_color: $color_white;
$content_tertiary_color: $color_dodger_blue_primary;
$main_menu_active_link_underline_color: $color_white;
$main_menu_link_color: $color_white;
$main_menu_link_hover_underline_color: $color_white;
$try_for_free_button_background_color: $color_white;
$header_primary_color: $color_scorpion_primary;
$header_secondary_color: $color_white;
$header_tertiary_color: $color_white;
$download_button_background_color: $color_ebony_clay;
$icon_primary_color: $color_white;
$icon_secondary_color: $color_dodger_blue_primary;
$icon_tertiary_color: $color_royal_blue;
$rhombus_background_primary_color: $color_athens_gray;
$rhombus_background_secondary_color: $color_dodger_blue_primary;
$circle_icon_color: $color_white;
$pricing_card_border_color: $color_royal_blue;
$available_option_primary_color: $color_dodger_blue_primary;
$available_option_secondary_color: $color_white;
$unavailable_option_color: $color_pomegranate;
$purchase_button_background_primary_color: $color_hint_of_red;
$purchase_button_background_secondary_color: $color_white;
$purchase_button_border_primary_color: $color_royal_blue;
$purchase_button_border_secondary_color: $color_white;
$navigation_button_background_color: $color_dodger_blue_primary;
$reviews_slide_figure_border_color: $color_white;
$reviews_slide_border_color: $color_white;
$slide_dot_color: $color_alabaster;
$current_slide_dot_color: $color_wild_sand;
$header_underline_color: $color_royal_blue;
$contact_information_section_header_color: $color_mine_shaft;
$contact_information_section_text_color: $color_scorpion_dark;
$placeholder_color: $color_silver_chalice;
$send_message_button_background_color: $color_royal_blue;
$main_footer_background_color: $color_big_stone;
$link_color: $color_white;
$link_hover_color: $color_royal_blue;
