.l-container {
  @extend %flex_column;
  justify-content: center;
  text-align: center;
}

.l-navbar,
.l-header,
.l-content,
.l-footer {
  @extend %flex_column;
  height: 100%;
  padding: 0 19.53125%;
}

.l-header {
  text-align: right;
}

.l-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-col {
  @extend %flex_column;
  align-items: center;
}
