/* Variables
 * ------------------------------------------------------------------------- */

// placeholder selectors
%list_style {
  padding: 0;
  list-style: none;
}

/* Base rules
 * ------------------------------------------------------------------------- */

img {
  max-width: 100%;
}

/* Module rules
 * ------------------------------------------------------------------------- */

// button link
.button-link {
  color: $link_color;
  transition: color 0.2s ease;
}

.button-link:hover {
  color: $link_hover_color;
}
