/// List without padding and symbols before list items
///
/// @access public
///
/// @author Radmir Nabiullin
///
/// @example scss — Using
/// .foo {
///   @extend %list;
/// }
///
/// @example css — Output CSS
/// .foo {
///   padding: 0;
///   list-style: none;
/// }
%list {
  padding: 0;
  list-style: none;
}
