// Fonts
// descriptive variables
$font_poppins: "Poppins", sans-serif;
$font_montserrat: "Montserrat", sans-serif;
$font_raleway: "Raleway", sans-serif;
$font_size-13: 0.8125rem;
$font_size_14: 0.875rem;
$font_size_15: 0.9375rem;
$font_size_16: 1rem;
$font_size_18: 1.125rem;
$font_size_19: 1.1875rem;
$font_size_20: 1.25rem;
$font_size_24: 1.5rem;
$font_size_25: 1.5625rem;
$font_size_27: 1.6875rem;
$font_size_28: 1.75rem;
$font_size_30: 1.875rem;
$font_size_32: 2rem;
$font_size_34: 2.125rem;
$font_size_36: 2.25rem;
$font_size_46: 2.875rem;

// functional variables
$content_font: $font_poppins;
$heading_font: $font_montserrat;


// Colors
// descriptive variables
$color_alabaster: #f7f7f7;
$color_athens_gray: #f3f5f8;
$color_big_stone: #13253b;
$color_denim: #1760d7;
$color_dodger_blue_primary: #4085f6;
$color_dodger_blue_dark: #1d72fe;
$color_dove_gray: #737373;
$color_ebony_clay: #22233a;
$color_hint_of_red: #f8f6f6;
$color_mine_shaft: #3b3b3b;
$color_pomegranate: #f33131;
$color_royal_blue: #226be2;
$color_scorpion_primary: #5d5d5d;
$color_scorpion_dark: #585858;
$color_silver_chalice: #a2a2a2;
$color_white: #ffffff;
$color_wild_sand: #f4f4f4;
