// descriptive variables
$font_poppins: "Poppins", sans-serif;
$font_montserrat: "Montserrat", sans-serif;
$font_raleway: "Raleway", sans-serif;
$font_size_13: 0.8125rem;
$font_size_14: 0.875rem;
$font_size_15: 0.9375rem;
$font_size_16: 1rem;
$font_size_18: 1.125rem;
$font_size_19: 1.1875rem;
$font_size_20: 1.25rem;
$font_size_24: 1.5rem;
$font_size_25: 1.5625rem;
$font_size_28: 1.75rem;
$font_size_29: 1.8125rem;
$font_size_31: 1.9375rem;
$font_size_32: 2rem;
$font_size_34: 2.125rem;
$font_size_36: 2.25rem;
$font_size_38: 2.375rem;
$font_size_40: 2.5rem;
$font_size_46: 2.875rem;

// functional variables
$content_font: $font_poppins;
$header_font: $font_montserrat;
