@import "../themes/default";


body {
  font: 1.25rem/1.8 $content_font;
  color: $content_primary_color;
}

h1,
h2,
h3 {
  font-family: $heading_font;
  line-height: 1.34782608695;
}

h2 {
  font-size: $font_size_36;
  font-weight: 500;
}

h3 {
  font-size: $font_size_24;
  color: $color_scorpion_dark;
}
