@import "../themes/default";


body {
  font: 1.25rem/1.8 $font-family--poppins;
  color: map-get($root, "foreground-color--primary");
}

h1,
h2,
h3 {
  font-family: $font-family--montserrat;
  line-height: 1.34782608695;
}

h2 {
  font-size: $font-size--36;
  font-weight: 500;
}

h3 {
  font-size: $font-size--24;
  color: map-get($root, "heading__foreground-color--tertiary");
}
