// descriptive variables
$font_poppins: "Poppins", sans-serif;
$font_montserrat: "Montserrat", sans-serif;
$font_raleway: "Raleway", sans-serif;

// functional variables
$content_font: $font_poppins;
$header_font: $font_montserrat;
